<div class="comments">
  {{#each this}}
  <section class="comment">
    <div class="meta">
      {{user.username}} commented on {{format_date created_at}}
    </div>

    <div class="comment-box">
      <div class="text">
        {{comment_text}}
      </div>
    </div>
  </section>
  {{/each}}
</div>