* {
  box-sizing: border-box;
}
:root {
  --primary: #ccdad1;
  --secondary: #9caea9;
  --tertiary: #788585;
  --light-dark: #6f6866;
  --dark: #38302e;
  --border-radius: .3rem;
}

body {
  background-color: var(--primary);
  margin: 0;
  padding: 0;
  font-family: "IBM Plex Sans", sans-serif;
  color: var(--dark);
  line-height: 1.5;
  font-size: 16px;
}

.app-title {
  font-size: 3rem;
  background-color: var(--primary);
  color: var(--dark);
  padding: 0 10px;
  display: inline-block;
  border-radius: var(--border-radius);
  box-shadow: 6px 5px var(--light-dark);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  margin: 0;
  color: var(--dark);
  line-height: 1.25;
}

html {
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  color: #333;
}

a {
  text-decoration: none;
  color: #fff5eb;
  font-weight: bold;
  transition: color .1s;
  margin-left: 20px;
}

a:hover {
  color: #3486eb;
}

button {
  background-color: #225ca3;
  border: 0;
  padding: 1%;
  color: white;
  font-weight: bold;
  transition: background-color .1s;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background-color: #3486eb;
}

.post-list {
  margin: 0;
  padding: 0;
}

textarea, input {
  padding: .5%;
  border-radius: 5px;
  border: 1px solid #ccc;
}

textarea:focus, input:focus {
  outline: none;
  border: 1px solid #3486eb;
}

textarea {
  min-width: 40%;
  min-height: 100px;
}

form > div {
  margin-bottom: 2%;
}

form label {
  display: block;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

header {
  background-color: var(--dark);
  width: 100%;
  border-bottom: 1px solid #ccc;
  display: block;
  flex: 1;
  justify-content: space-between;
  align-items: center;
  padding: 0 1%;
}

.single-post {
  background-color: var(--dark);
  border-radius: 10px;
  color:#fff5eb;
  margin: 20px;
  padding: 20px 0 20px 0;
}

.single-post div {
  margin-left: 20px;
}

.personal-post {
  background-color: var(--dark);
  border-radius: 10px;
}

.personal-post div {
  padding-top: 10px;
  color: #fff5eb;
  margin-left: 20px;
}

header h1 {
  font-size: 1em;
  margin-top: 20px;
  margin-bottom: 20px;
}

header h2 {
  margin-bottom: 20px;
}
main {
  flex: 1;
  padding: 2% 4%;
}

.btn-no-style {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  text-decoration: none;
  color: #fff5eb;
  font-size: 100%;
  font-weight: bold;
  transition: color .1s;
  margin-left: 16px;
}

.btn-no-style:hover {
  background: none;
  color: #3486eb;
}

.delete-post-btn {
  background-color: #d41414;
}

.delete-post-btn:hover {
  background-color: #ff643d;
}

.post {
  margin-bottom: 2%;
  line-height: 150%;
}

.post .title span {
  font-style: italic;
  font-size: 90%;
  color: #fff5eb;
}

.edit-link {
  display: block;
  margin: -1.5% 0 2% 0;
  margin-left: 20px;
  padding-bottom: 20px;
}

.upvote-btn {
  background-color: #197d0f;
  transition: background-color .1s;
}

.upvote-btn:hover {
  background-color: #1f9c13;
}

.comment-form {
  margin-bottom: 5%;
}

.comment {
  padding: 1%;
  border-radius: 10px;
  margin-bottom: 1%;
  background-color: #fff5eb;
}

.comment:nth-child(odd) {
  background-color: #c2bebc;
}

.comment .meta {
  font-size: 90%;
  margin-bottom: .5%;
  opacity: .6;
}

.comments div {
  /* background-color: var(--light-dark); */
}

.new-post-form {
  background-color: #c2bebc;
  border-radius: 10px;
}

.new-post-form input {
  width: 300px;
  margin-left: 30px;
}

.new-post-form label {
  padding-top: 10px;
  margin-left: 30px;
}

.new-post-form button {
  margin-left: 30px;
  margin-bottom: 20px;
}
.your-posts h2 {
  margin-top: 50px;
}

.edit-post-form {
  margin-bottom: 5%;
}

footer {
  border-top: 1px solid #ccc;
  display: flex;
  justify-content: center;
  padding: 1%;
  font-size: 110%;
}